untitled1.pro.user
untitled1.pro
build-untitled1-Desktop_Qt_5_12_1_MinGW_64_bit-Debug/
2.pdf
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
